@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-ibm: "IBM Plex Mono", monospace;
    --font-raleway: "Raleway", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background: #080808;
    height: 700px;
}

.menu {
    max-width: 1100px;
    background: #1b1b1b;
    height: 70px;
    border-radius: 0 0 8xp 8xp;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 95px;
}

.menu_bar ul,
.menu_social ul {
    display: flex;
    list-style: none;
}

.menu_bar a {
    color: #9c9c9c;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 27px 35px;
    transition: all 0.5s ease;
    font-family: var(--font-ibm);
}
.menu_bar a:hover {
    background: #9c9c9c;
    color: #1b1b1b;
}

.menu_social ul{
    align-items: center;
    height: 100%;
    gap: 25px;
}

.menu_social img {
    transition: all 0.5s ease;
}

.menu_social img:hover {
    transform: scale(1.5);
}

.hero_content {
    margin: auto;
    margin-top: 80px;
    max-width: 920px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero_content h1{
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    font-family: var(--font-raleway);
}

.hero_content p{
    line-height: 24px;
    font-size: 14px;
    color: #9c9c9c;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: var(--font-ibm);
}

.btn_green {
    background: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    display: flex;
    width: 307px;
    height: 63px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-ibm);
}

.worked_with ul {
    display: flex;
    list-style: none;
}

.worked_with ul{
    align-items: center;
    height: 100%;
    gap: 40px;
    margin-left: 157px;
    margin-top: 33px;
}

.worked_with h1{
    color: #fff;
    font-weight: 10px;
    font-size: 13px;
    font-family: var(--font-raleway);
    margin-left: 128px;
    margin-top: 33px;
}

.worked_with img {
    transition: all 0.5s ease;
}

.worked_with img:hover {
    transform: scale(1.2);
}

.seccion-uno, .seccion-dos {
    width: 100%;
    float: inline-end;
    margin-top: 10px;
}

.seccion-uno h2, .seccion-dos h2 {
    font-family: var(--font-raleway);
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.seccion-uno {
    background: #ffffff;
    height: 700px;
}

.seccion-dos {
    background: #080808;
    height: 700px;
}